@import "tailwindcss";

:root {
  --header-color: #683091;
}

.noto-serif-bengali {
  font-family: var(--font-noto-serif-bengali), serif;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  
}

.bg-image{
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://file-dhaka.portal.gov.bd/media/central/themes/theme-default/img/bg_main.gif");
}

.simple-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}