@import "tailwindcss";

:root {
  --header-color: #683091;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}
.bg-image{
  background-image: url("https://file-dhaka.portal.gov.bd/media/central/themes/theme-default/img/bg_main.gif");
}


.simple-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
