@import "tailwindcss";

:root {
  --header-color: #683091;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.noto-serif-bengali {
  font-family: var(--font-noto-serif-bengali), serif;
}
.bg-wrapper {
  min-height: 100vh;
  background-image: url("https://file-dhaka.portal.gov.bd/media/central/themes/theme-default/img/bg_main.gif");
  background-position: center top;
  background-repeat: repeat-y;
  background-size: 1600px auto;

}

.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;

}
.boxshadow{
box-shadow: -10px 0 20px rgba(0, 0, 0, 0.1), 10px 0 20px rgba(0, 0, 0, 0.1);

}

.simple-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}